---
import BaseHead from "../components/BaseHead.astro";

const title = "Error • Dominic Warren";
const description = "The error page.";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {title} {description} />
  </head>

  <body>
    <main>
      <img
        alt="Albie, the Jack Russell cross Dachshund, standing on his hind legs with a river behind him."
        src="/Albie - Winter - 2019.jpg"
      />

      <div>
        <h1>You've found Albie!</h1>
        <p>
          But the page you're really looking for isn't here or doesn't exist.
        </p>
        <p><a href="/">Go back to the homepage.</a></p>
      </div>
    </main>
  </body>
</html>
