---
import BaseHead from "../components/BaseHead.astro";

const title =
  "Dominic Warren • Content designer and writer for user experience (UX).";
const description =
  "Dominic is a content designer and writer for user experience (UX) in Brighton.";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {title} {description} />
  </head>

  <body>
    <main>
      <img
        alt="A photo of Dominic and Albie, his dog, on a walk with some woods behind them."
        class="profile-photo"
        src="/Dominic Warren - Autumn - 2021.jpg"
      />

      <div class="content">
        <p>Hello, I'm Dominic and this is Albie, my dog.</p>

        <p>
          I'm a content designer at <a
            href="https://themercatorgroup.com/it-recruitment/"
            target="_blank"
            rel="noreferrer">Mercator</a
          >, currently working at <a
            href="https://www.gov.uk/government/organisations/hm-revenue-customs"
            target="_blank"
            rel="noreferrer">HMRC</a
          >. I design through words, to make information clear and solve user
          needs.
        </p>

        <p>
          Before this, I've worked with <a
            href="https://www.brandwatch.com/"
            target="_blank"
            rel="noreferrer">Brandwatch</a
          >, <a href="/portfolio/ths-release-notes">TrustedHousesitters</a>, <a
            href="/portfolio/rsa-t-and-c">RSA insurance</a
          >, and the <a href="/portfolio/ct-notice">Valuation Office Agency</a>.
        </p>

        <p>
          I've interviewed writers in tech at <a
            href="https://medium.com/everywordmatters"
            target="_blank"
            rel="noreferrer">every word matters</a
          >. And I've been <a
            href="https://digital-freelancer.org/blog/interview-dominic-warren"
            target="_blank"
            rel="noreferrer">interviewed myself</a
          >.
        </p>

        <p>
          Take a look at some <a href="/working-hard">photos of me working</a>.
          Or read more <a href="/colophon">about this website</a>.
        </p>

        <p>
          Sometimes I publish articles on <a
            href="https://mrdominicwarren.medium.com/"
            target="_blank"
            rel="noreferrer">Medium</a
          >. And you can find me on <a
            href="https://www.linkedin.com/in/MrDominicWarren/"
            target="_blank"
            rel="noreferrer">LinkedIn</a
          >.
        </p>
      </div>
    </main>
  </body>
</html>
