/* General */

* {
    box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
    -webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    font-size: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    text-align: left;
    font-family: 'Roboto', serif;
    font-size: 24px;
    line-height: 1.3em;
    color: #000000;
}

#wrapper {
    max-width: 980px;
    margin: auto;
    flex: 1;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
}

.content {
	max-width: 540px;
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

/* Links */
a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: #000000;
  padding: 0 1px;
  transition: color ease 0.3s;
}

a::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    background-color: #0000FF;
    transition: all ease 0.3s;
 }
  
a:hover {
    color: white;
}
a:hover::after {
     height: 100%;
}


/* Profile photo */

.profile-photo {
	height: 75%;
	width: 75%;
}


/* Headers */

h1, h2, h3 {
    font-family: "Arial", sans-serif;
    font-weight: 900;
    padding-bottom: 2px;
}

h1 {
    font-size: 60px;
    line-height: 70px;
}

.error-heading {
    font-size: 40px;
    margin-top: 40px;
}

h2 {
    font-size: 40px;
    margin-top: 40px;
}

h3 {
    font-size: 30px;
    margin-bottom: -10px;
}

.portfolio-description {
    color: #999999;
    font-style: italic;
    margin-bottom: -40px;	
}


/* Other page styling */

.writing-link {
	display: block;
	float: left;
	margin-top: 60px;
	margin-left: 25px;
}

.quote {
    font-style: italic;
	margin-left: 5%;
	margin-top: 35px;
	margin-bottom: 35px;
}

img {
    max-width: 540px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.work-img {
   padding-bottom: 10px;	
}

li {
    padding-bottom: 14px;
}


/* Responsive */

@media screen and (max-width: 600px) {
.profile-photo {
	height: 100%;
	width: 100%;
}
h1 {
    font-size: 70px;
  }

}
