<header class="blog-header">
  <a href="/"
    ><img alt="Dominic Warren" src="/Dominic Warren - Summer - 2019.jpg"
  /></a>

  <a class="blog-link" href="/writing">&larr; Back to Writing</a>
</header>
