---
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import BlogPost from "../components/BlogPost.astro";

export interface Props {
  content: {
    title: string;
    description: string;
  };
}

const { content } = Astro.props;
const { title, description } = content;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {title} {description} />
    <link rel="stylesheet" href={Astro.resolve("../styles/blog.css")} />
  </head>

  <body>
    <BlogHeader />
    <BlogPost>
      <slot />
    </BlogPost>
  </body>
</html>
